.filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.filter_select {
  display: flex;
}

.search {
  width: 15rem;
}

.select {
  width: 18rem;
  margin-right: 1rem;
}
